._category-slider__container {
    padding: 0 38px !important;
    width: 100%;
    height: 100%;
}

._category-slider__container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

._category-slider__container .swiper-button-next,
._category-slider__container .swiper-button-prev {
    color: #3C4242 !important;
    height: 100%;
    top: 0;
    margin: 0;
    background-color: #fff;
}
._category-slider__container .swiper-button-prev {
    left: 0;
}
._category-slider__container .swiper-button-next {
    right: 0;
}

._category-slider__container .swiper-button-prev:after,
._category-slider__container .swiper-button-next:after {
    content: "";
    width: 14px;
    height: 12px;
    background: url("./../../../images/icons/category-swiper-arrow.png") center / 100% no-repeat;
}

._category-slider__container .swiper-button-next:after {
    transform: rotate(180deg);
}

@media(max-width: 500px) {
    ._category-slider {
        display: none !important;
    }
}
