
._preview-banner .swiper-button-next,
._preview-banner .swiper-button-prev {
    color: #fff !important;
}

._preview-banner .swiper-pagination {
    width: 33% !important;
    margin: 0 auto !important;
    display: flex;
    position: relative;
    bottom: 50px;
    z-index: 10;
    column-gap: 1px;
    border-radius: 10px;
    overflow: hidden
}

._preview-banner .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.6);
    flex: 1 1 auto;
    height: 10px;
    cursor: pointer;
}
._preview-banner .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
}

._preview-banner a {
    bottom: 15%;
    left: 15%;
}
