@tailwind base;
@tailwind components;
@tailwind utilities;

._container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    color: #3C4242;
}
._burger-menu ._nav {
    flex-direction: column;
}

._burger-menu ._search {
    width: 100%;
    max-width: 100%;
    border: 1px solid #e5e7eb;
}

._title {
    color: #000000;
    font-size: 34px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.68px;
    position: relative;
    padding-left: 26px;
}
._title:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 30px;
    top: 5px;
    left: 0;
    border-radius: 10px;
    background-color: #8A33FD;
}

._button {
    display: inline-block;
    color: rgb(55, 65, 81);
    font-weight: 700;
    background-color: #fff;
    padding: 1rem 4rem;
    border-radius: 0.25rem;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
._button:hover {
    box-shadow: 0 10px 15px -3px #6b7280;
}

@media(max-width: 400px) {
    ._container {
        padding: 0 10px;
    }
}
